@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

.heading {
   min-height: 30vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin-top: 60px;
   background: url(../images/heading-bg.webp) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.heading h3 {
   font-size: 5rem;
   color: var(--black);

}

.heading p {
   font-size: 2.5rem;
   color: var(--light-color);
}

.heading p a {
   color: var(--purple);
}

.heading p a:hover {
   text-decoration: underline;
}


.reviews {
   background-color: var(--light-bg);
}

.reviews .box-container {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   align-items: center;
   gap: 1.5rem;
   justify-content: center;
}

.reviews .box-container .box {
   height: 375px !important;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border: var(--border);
   border-radius: .5rem;
   text-align: center;
   align-items: center;
   padding: 2rem;
}

.reviews .box-container .box img {
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
}

.reviews .box-container .box p {
   padding: 1rem 0;
   line-height: 2;
   color: var(--light-color);
   font-size: 1.5rem;
}

.reviews .box-container .box .stars {
   background-color: var(--light-bg);
   display: inline-block;
   margin: .5rem 0;
   border-radius: .5rem;
   border: var(--border);
   padding: .5rem 1.5rem;
}

.reviews .box-container .box .stars i {
   font-size: 1.7rem;
   color: var(--orange);
   margin: .2rem;
}

.reviews .box-container .box h3 {
   font-size: 2rem;
   color: var(--black);
   margin-top: 1rem;
}
.authors .box-container {
   max-width: 70%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   align-items: center;
   gap: 1.5rem;
   justify-content: center;
}

.authors .box-container .box {
   height: 400px !important;
   width: 80%;
   margin: 8px auto;
   position: relative;
   text-align: center;
   border: var(--border);
   box-shadow: var(--box-shadow);
   overflow: hidden;
   border-radius: .5rem;
}

.authors .box-container .box img {
   height: 80%;
   width: auto;
   object-fit: cover;
}

.authors .box-container .box .share {
   position: absolute;
   top: 0;
   left: -10rem;
}

.authors .box-container .box:hover .share {
   left: 1rem;
}

.authors .box-container .box .share a {
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   font-size: 2rem;
   background-color: var(--white);
   border: var(--border);
   display: block;
   margin-top: 1rem;
   color: var(--black);
}

.authors .box-container .box .share a:hover {
   background-color: var(--black);
   color: var(--white);
}

.authors .box-container .box h3 {
   font-size: 2.5rem;
   color: var(--black);
   padding: 1.5rem;
   background-color: var(--white);
}


@keyframes fadeIn {
   0% {
      transform: translateY(1rem);
      opacity: .2s;
   }
}