@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
/* checkout.css */

.display-order {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-top: 20px;
   text-align: left;
   font-size: 18px;
}

.display-order p {
   margin: 10px 0;
}

.display-order .empty {
   font-weight: bold;
   color: red;
}

.grand-total {
   margin-top: 20px;
   font-size: 24px;
   font-weight: bold;
}

.checkout {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-top: 20px;
}

.checkout h3 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}

.checkout .flex {
   display: flex;
   flex-wrap: wrap;
}

.checkout .inputBox {
   width: 50%;
   padding: 7px;
}

.checkout .inputBox span {
   display: block;
   font-size: 15px;
   margin-bottom: 5px;
   font-weight: bold;
}

.checkout input[type="text"],
.checkout input[type="number"],
.checkout input[type="email"],
.checkout select {
   width: 100%;
   padding: 7px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 5px;
   font-size: 16px;
}

.checkout .center-solo {
   text-align: center;
   margin-top: 10px;
}

.checkout .btn {
   background-color: #007bff;
   color: #fff;
   padding: 10px 20px;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.checkout .btn:hover {
   background-color: #0056b3;
}