@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


.contact form {
    margin: 0 auto;
    background-color: var(--light-bg);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
 }
 
 .contact form h3 {
    font-size: 2.5rem;
    text-transform: none;
    margin-bottom: 1rem;
    color: var(--black);
 }
 
 .contact form .box {
    margin: 1rem 0;
    width: 100%;
    border: var(--border);
    background-color: var(--white);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
 }
 
 .contact form textarea {
    height: 20rem;
    resize: none;
 }
 .contact form .messagebtn{
   background-color: #007BFF; /* Background color of the button */
   color: #ffffff; /* Text color */
   padding: 10px 20px; /* Padding around the text */
   border: none; /* Remove the default button border */
   border-radius: 5px; /* Rounded corners */
   cursor: pointer; /* Show a pointer cursor on hover */
   font-size: 16px; /* Font size */
   transition: background-color 0.3s; /* Add a smooth color transition on hover */
 
   /* Hover effect */
   &:hover {
     background-color: #0056b3; /* Change the background color on hover */
   }
 }